<div class="col-sm-12" ng-controller="remyndrController">
	
	<ul class="list-group" ng-repeat="remyndr in remyndrs track by $index">
		<li class="list-item">
			<div class="checkbox">
				<input type="checkbox" ng-model="remyndr.done">
				<span>{{ remyndr.text }}</span>
			</div>
		</li>
	</ul>
	<form class="form-group">
		<input type="text" ng-model="remyndrText" placeholder="Enter new remyndr" />
		<button class="btn btn-primary" ng-click="addRemyndr()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
		<button class="btn btn-danger" ng-click="deleteRemyndr()"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
	</form>
</div>


